h1 { 	font-family: 'Heebo', sans-serif;
	font-weight: 800; 
	font-size: 36pt;
	margin: 0;
/*	margin-bottom: 4pt; */
	margin-left: 0.5em;
   }

p.subhead { 	font-size: 16pt;
		line-height: 16pt;
		margin: 0;
	    	margin-left: 2em; 		
		}


h2 {  font-family: 'Heebo', sans-serif;
        font-weight: 700;
	font-size: 20pt;
	margin: 0;
	padding: 0;
	margin-top: 1em;
	margin-left: 0.5em;
   }
	
body { 	font-size: 14pt;
	font-family: 'Georgia', 'Times New Roman', serif; 
	background-color: #ccc;
	padding: 0;
	margin: 0;
	}


p { 	line-height: 20pt; }
ul { 	line-height: 20pt; }

div.indent { margin-left: 1.5em; }

div.main { background-color: #fff;
	   margin: 0;
	   border: 2pt solid #777;
	   margin-bottom: 1em;
	 }

div.header {
    background: #a2d3fe;
    border-top: 2pt solid #777;
    width: 100%;
    margin: 0;
    border-bottom: 2pt solid #333;
    padding: 0;
    padding-bottom: 8pt;
}

div.nav {
    padding-left: 1em;
    padding-right: 1em;
    background: #0074D9;
    border-bottom: 2pt solid #333;
    padding-top: 2pt;
    padding-bottom: 2pt;
    color: #fff;
 	font-family: 'Heebo', sans-serif;
	font-weight: 500; 
    
}

div.nav a { color: #ff3; text-decoration: none;}
div.nav a:visited { color: #ff3; text-decoration: none;}
div.nav a:hover { color: #ff0; text-decoration: underline;}


div.body {
    padding-right: 8em;
}

div.footer { 
   width: 100%;
   margin-left: 0; margin-right: 0;
   border-top: 2pt solid #333;
   line-height: 28pt;
}



@media only screen and (max-width: 1200px)  { 
   div.main { width: 100%; }
}

@media only screen and (min-width: 1201px) { 
  div.main { width: 1200px; margin-left: auto; margin-right: auto; }
}


div.headerpic {

    width: 200px;
    float: right;
}


ul.sched li{ font-weight: 700; }
ul.sched li ul li { font-weight: 400; }
ul.sched li ul { margin-bottom: 4pt; }
